body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  max-width: 400px;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
}

.image-container {
  box-sizing: border-box;
  background-image: url("https://images.unsplash.com/photo-1553135422-400ee5852b27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=398&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100vh;
}

.output-div {
  padding: 1rem;
}

.output-div img {
  margin-top: 1rem;
}

.App h1 {
  transition: all 1s ease-in-out;
  background-color: #9960b5;
  width: 100%;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem 0px 1rem 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

label {
  margin: 20px 1rem;
  color: rgba(0, 0, 0, 1);
  font-weight: bolder;
}

input {
  width: 40%;
  border-radius: 2rem 1rem;
  padding: 1rem;
  outline: none;
  text-align: center;
  margin-bottom: 10px;
}

button {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  cursor: pointer;
}

button:hover {
  font-size: 1.1rem;
  box-shadow: 2px 5px 2px black;
  transition: ease-in-out 0.1s all;
  border: 2px solid goldenrod;
}

.welcome-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.welcome-div div {
  opacity: 0.7;
  border: 2px solid #9960b5;
  border-radius: 2rem;
  padding: 1rem;
  width: 90%;
  font-size: 1.2rem;
  box-shadow: 2px 2px 10px 2px black;
  font-weight: bolder;
}

.flex-privacy {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  width: 250px;
  justify-content: flex-end;
  box-sizing: border-box;
  top: 10px;
  right: 20px;
  border: 1px solid red;
  border-radius: 1.2rem 0rem 1.2rem 1.2rem;
  background-color: rgba(205, 97, 85, 0.3);
}

.flex-privacy p {
  display: inline-block;
  font-size: 1.1rem;
  padding: 0 5px;
}

.flex-privacy span {
  padding-right: 10px;
  padding-top: 10px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

.flex i {
  color: black;
}

footer {
  background-color: #9960b5;
  border-radius: 0 2rem 0 0;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
  box-sizing: border-box;
  padding-top: 2rem;
  cursor: pointer;
}

.footer-span {
  display: block;
  text-align: center;
  color: whitesmoke;
}
